<template>
  <div id="donations" class="container">
    <div class="row">
      <QRCodeBox
        v-for="(qr, index) in $store.state.qrCodes"
        :key="index"
        :name="qr.name"
        :qr="qr.img"
        :address="qr.address"
        :blockExplorerName="qr.blockExplorerName"
        :blockExplorerUrlPrefix="qr.blockExplorerUrlPrefix"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import QRCodeBox from "@/components/QRCodeBox.vue";

export default defineComponent({
  name: "Donations",
  components: { QRCodeBox },
});
</script>

<style scoped>
@media screen and (min-device-width: 900px) {
  #donations {
    padding-top: 6rem;
  }
}

#donations div[class^="col-"] {
  margin-top: 2rem;
}
</style>
