<template>
  <div id="home" class="container max-width-1000px">
    <div id="greetings" class="row">
      <div class="col-md-4 text-center">
        <img id="profilePic" src="images/profile_1_removebg.png" class="me-2" />
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <div>
          <h1>👋 Hi there, I am <span class="text-thor">0x_larry</span></h1>
          <div class="fs-5" style="margin-top: 2rem">
            I am a protocol developer at
            <a href="https://twitter.com/Delphi_Digital">Delphi Digital</a>
          </div>
          <div class="fs-5" style="margin-top: 1rem">
            If you find my work useful, please consider
            <router-link to="/donations">buying me a coffee</router-link>
          </div>
        </div>
      </div>
    </div>
    <ProjectGrid :content="$store.state.projects" class="mt-5" />
    <ConnectGrid :content="$store.state.connects" class="mt-5" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import ConnectGrid from "@/components/ConnectGrid.vue";
import ProjectGrid from "@/components/ProjectGrid.vue";

export default defineComponent({
  name: "Home",
  components: {
    ConnectGrid,
    ProjectGrid,
  },
});
</script>

<style scoped>
@media screen and (min-device-width: 900px) {
  #home {
    padding-top: 1.5rem;
  }
}

@media screen and (max-device-width: 900px) {
  #home {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

#home {
  max-width: 1000px;
}

#greetings div[class^="col-"] {
  margin-top: 1rem;
}

#profilePic {
  height: 250px;
  width: 250px;
  max-height: 100%;
  max-width: 100%;
  transition: all 0.25s;
}

#profilePic:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  transition: all 0.25s;
  color: rgba(61, 254, 160, 1);
}

a:hover {
  color: rgba(19, 205, 251, 1);
}
</style>
