<template>
  <div>
    <h2 class="mb-0">
      <span class="text-thor">Connect</span>
    </h2>
    <div class="row" data-masonry='{ "percentPosition": true }'>
      <div
        v-for="(data, index) in content"
        :key="index"
        class="col-sm-6 col-lg-4"
      >
        <a
          @click="openLinkInNewTab(data.url)"
          class="btn d-flex align-items-center"
        >
          <svg viewBox="0 0 16 16">
            <use :xlink:href="`icons/${data.icon}#path`" />
          </svg>
          <span class="ms-4 fs-4">{{ data.name }}</span>
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { ConnectData } from "@/types";

export default defineComponent({
  name: "ConnectGrid",
  props: {
    content: Array as PropType<Array<ConnectData>>,
  },
  methods: {
    openLinkInNewTab(url: string): void {
      window.open(url, "_blank");
    },
  },
});
</script>

<style scoped>
a {
  color: white;
  height: 75px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 1.75rem;
  transition: all 0.25s;
  border: 1px solid #54e1c5;
  box-shadow: rgba(84, 225, 197, 0.35) 0px 0px 15px;
}

a:hover {
  color: #54e1c5;
  box-shadow: rgba(84, 225, 197, 0.35) 0px 0px 25px;
}

svg {
  fill: currentColor;
  width: 36px;
  height: 36px;
}
</style>
