<template>
  <div>
    <h2 class="mb-0">
      <span class="text-thor">Projects</span>
    </h2>
    <div class="row" data-masonry='{ "percentPosition": true }'>
      <div
        v-for="(data, index) in content"
        :key="index"
        class="col-sm-6 col-lg-4"
      >
        <div
          @click="openLinkInNewTab(data.url)"
          class="card"
          :class="!data.enabled && 'disabled'"
        >
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <svg viewBox="0 0 16 16">
                <use :xlink:href="`icons/${data.icon}#path`" />
              </svg>
              <span class="ms-4 fs-4">{{ data.name }}</span>
            </div>
            <div class="mt-4 fs-5">{{ data.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { ProjectData } from "@/types";

export default defineComponent({
  name: "ProjectGrid",
  props: {
    content: Array as PropType<Array<ProjectData>>,
  },
  methods: {
    openLinkInNewTab(url: string): void {
      window.open(url, "_blank");
    },
  },
});
</script>

<style scoped>
.card {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 100%;
  padding: 25px;
  margin-top: 1.75rem;
  transition: all 0.25s;
  border: 1px solid #13cdfb;
  box-shadow: rgba(26, 182, 255, 0.35) 0px 0px 15px;
}

.card:hover {
  color: #13cdfb;
  box-shadow: rgba(26, 182, 255, 0.35) 0px 0px 25px;
  cursor: pointer;
}

.card.disabled {
  pointer-events: none;
  opacity: 0.65;
  box-shadow: none;
}

svg {
  fill: currentColor;
  width: 36px;
  height: 36px;
}
</style>
