<template>
  <div class="col-xl-4 text-center">
    <h1 class="text-thor mt-3">{{ name }}</h1>
    <div>
      <img class="qr-code" :src="qr" />
      <br />
      <small>{{ address }}</small>
    </div>
    <div class="hide-on-mobile">
      <a
        :href="blockExplorerUrlPrefix + address"
        class="btn btn-lg button-thor mt-5 mb-2"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ blockExplorerName }}
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "QRCodeBox",
  props: {
    name: {
      type: String,
      required: true,
    },
    qr: {
      type: String,
      required: true,
    },
    address: {
      type: String,
      required: true,
    },
    blockExplorerName: {
      type: String,
      required: true,
    },
    blockExplorerUrlPrefix: {
      type: String,
      required: true,
    },
  },
  methods: {
    openLinkInNewTab() {
      window.open(this.blockExplorerUrlPrefix + this.address, "_blank");
    },
  },
});
</script>

<style scoped>
@media screen and (max-device-width: 900px) {
  .hide-on-mobile {
    display: none;
  }
}

small {
  overflow-wrap: break-word;
}

.button-thor {
  color: #54e1c5;
  border-color: #54e1c5;
  transition: all 0.5s;
}

.button-thor:hover {
  color: black;
  background: linear-gradient(
    45deg,
    rgba(19, 205, 251, 1) 0%,
    rgba(61, 254, 160, 1) 100%
  );
  border-color: #54e1c5;
}

.qr-code {
  max-width: min(100%, 500px);
  max-height: min(100%, 500px);
}
</style>
