<template>
  <div>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: "Roboto", sans-serif;
  color: #eeeeee;
  background-color: #1a2026;
  min-height: 100vh;
  padding-bottom: 3.25rem;
}

h1,
h2 {
  font-family: "Exo 2", sans-serif;
}

.text-thor {
  background-image: linear-gradient(
    45deg,
    rgba(19, 205, 251, 1) 0%,
    rgba(61, 254, 160, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text-thor:hover {
  background-image: linear-gradient(
    45deg,
    rgba(61, 254, 160, 1) 0%,
    rgba(19, 205, 251, 1) 100%
  );
}
</style>
